---
import ButtonMain from "@components/base/ButtonMain.astro";
import ProjectCard from "@components/gallery/ProjectCard.astro";
import Layout from "../layouts/Layout.astro";
import projects from "public/projects.json";
import services from "public/services.json";
import { Image } from "astro:assets";
import heroImage from "public/hero-section.jpg";
import ServiceCard from "@components/gallery/ServiceCard.astro";
---

<Layout title="Welcome to Astro.">
  <section id="explore">
    <h1
      class="leading-normal tracking-tight w-fit text-6xl md:text-9xl font-black uppercase"
    >
      Darrel Steward
    </h1>
    <picture class="relative">
      <Image
        src={heroImage}
        width={1920}
        height={1080}
        decoding="async"
        loading="lazy"
        class="aspect-video object-cover object-bottom w-full"
        alt="una persona caminando por un pasillo en un edificio"
      />
      <div
        class="absolute left-9 bottom-3 text-white uppercase leading-none font-extrabold text-[5vw]"
      >
        <p>Based in</p>
        <p>NewYork*</p>
        <p>Available</p>
        <p>Worldwide</p>
      </div>
    </picture>
  </section>
  <section
    class="flex flex-col md:flex-row justify-between gap-2 py-10 md:py-20 px-2"
  >
    <div>
      <h2 class="leading-none uppercase font-extrabold text-[5vw]">
        * It's About
        <br /><span>Me and How</span>
        <br /><span>I Work</span>
      </h2>
    </div>
    <div class="max-w-xl space-y-2">
      <p class="font-semibold">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, deserunt
        suscipit. Accusantium sed blanditiis necessitatibus illo voluptates
        nobis eveniet quasi, ipsum quisquam, cumque sit molestiae deserunt.
        Dolor blanditiis dolore ab?
      </p>
      <p class="font-semibold">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quam
        inventore incidunt qui, dolores officiis sit provident omnis nemo unde
        doloribus asperiores reprehenderit harum aliquid recusandae dolor eum,
        molestiae, quidem corporis sint blanditiis quaerat ipsam facere
        inventore incidunt qui, dolores officiis sit provident omnis nemo unde
        ut temporibus.
      </p>
      <p class="font-semibold">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
        molestiae, quidem corporis sint blanditiis quaerat ipsam facere
        laudantium neque eos sit ad ratione a obcaecati nesciunt rem veritatis
        libero harum.
      </p>
    </div>
  </section>

  <section id="portafolio">
    <div class="flex justify-between items-center mb-6">
      <h2 class="leading-none uppercase font-extrabold text-[5vw]">
        Portafolio Showcase
      </h2>
      <p class="leading-none uppercase font-extrabold text-[5vw]">*</p>
    </div>
    <p class="max-w-xl font-semibold mb-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, deserunt
      suscipit. Accusantium sed blanditiis necessitatibus illo voluptates nobis
      eveniet quasi, ipsum quisquam, cumque sit molestiae deserunt. Dolor
      blanditiis dolore ab?
    </p>
    <div class="flex items-center gap-1 mb-10">
      <ButtonMain href="#">Landscape</ButtonMain>
      <ButtonMain href="#">Animals</ButtonMain>
      <ButtonMain href="#">Urban</ButtonMain>
      <ButtonMain href="#">Macro</ButtonMain>
      <ButtonMain href="#">Food</ButtonMain>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
      {
        projects.map((project, index) => (
          <ProjectCard
            key={index}
            title={project.title}
            to={project.to}
            altText={project.altText}
            imageUrl={project.imageUrl}
          />
        ))
      }
    </div>
  </section>

  <section class="py-10 md:py-20" id="services">
    <div class="flex flex-col md:flex-row items-center justify-between">
      <hgroup>
        <h2 class="text-start leading-none uppercase font-extrabold text-[5vw]">
          Our<span class="leading-none uppercase font-extrabold">*</span>
        </h2>
        <p class="leading-none uppercase font-extrabold text-[5vw]">Service</p>
      </hgroup>
      <p class="max-w-md font-semibold mb-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, deserunt
        suscipit. Accusantium sed blanditiis necessitatibus illo.
      </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-10">
      {
        services.map(({ id, name, description, image, altText }) => (
          <ServiceCard
            key={id}
            name={name}
            description={description}
            imageUrl={image}
            altText={altText}
          />
        ))
      }
    </div>
  </section>
</Layout>
